<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <div class="container">
        <h1>FILL THE FORM</h1>
        <form method="post" action="/home">
            <input type="text" placeholder="Enter Name" name="name" class="enter"><br>
            <input type="text" placeholder="date Of Birth" name="dob" class="enter"><br>
            <input type="text" placeholder="Age" name="age" class="enter"><br>
            <input type="text" placeholder="Department" name="department" class="enter"><br>
            <input type="text" placeholder="Gender" name="gender" class="enter"><br>
            <input type="text" placeholder="attendence" name="attendence" class="enter"><br>
            <input type="text" placeholder="Phone No" name="contact" class="enter"><br>
            <input type="text" placeholder="email" name="email" class="enter"><br>
            <input type="text" placeholder="address" name="address" class="enter"><br>
            <input type="text" placeholder="city" name="city" class="enter"><br>
            <input type="text" placeholder="country" name="country" class="enter"><br>
            <input type="text" placeholder="Father Name" name="father" class="enter"><br>
            <input type="text" placeholder="Mother Name" name="mother" class="enter"><br>
            <input type="text" placeholder="Father Occupation" name="foccupation" class="enter"><br>
            <input type="text" placeholder="Mother Occupation" name="moccupation" class="enter"><br>
            <button class="enter">Submit</button>
        </form>
    </div>
</body>
</html>