.container{
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(250, 215, 221);
}

h1{
    color: maroon;
}

.enter{
    width: 300px;
    height: 25px;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}